@font-face {
  font-family: "Nier Rodin";
  src: url(../assets/rodin.ttf);
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #DAD4BB;
}

::-webkit-scrollbar-thumb {
  background: #B0AB96;
}

::-webkit-scrollbar-thumb:hover {
  background: #B0AB96;
}

body {
  margin: 0;
  background-color: #CDC8B0;
  color: #4E4B42;
  font-family: "Nier Rodin", sans-serif;
  font-size: 15.01pt;
  overflow-x: hidden;
}

p {
  margin: 0;
  overflow-y: auto;
}

p, button {
  font-weight: bold;
}

.clearfix {
  clear: both;
}

@media (max-width: 1199px) {
  body {
    overflow-y: scroll;
  }
}