@font-face {
  font-family: "Nier Rodin";
  src: url(../assets/rodin.ttf);
}

body {
  margin: 0;
  background-color: #CDC8B0;
  color: #4E4B42;
  font-family: "Nier Rodin", sans-serif;
  font-size: 15.01pt;
  overflow-x: hidden;
}

.clearfix {
  clear: both;
}
