#page-area {
    margin: 0 auto;
    width: 1200px;
    transition: opacity 0.15s;
}

#page-header {
    color: #4E4B42;
    text-shadow: 8px 8px #A3A092;
    letter-spacing: 3px;
    margin: 15px 0 40px 30px;
    transition: opacity 0.23s;
    font-size: 2.5rem;
}

#content-side-flourish1 {
    height: 100%;
    width: 11px;
    background-color: #B4AF9A;
    float: left;
}

#content-side-flourish2 {
    height: 100%;
    width: 5px;
    background-color: #B4AF9A;
    margin-left: 16px;
    float: left;
    position: absolute;
    top: 0;
    bottom: 0;
}

#content-flourish-area {
    width: 25px;
    height: 100%;
    float: left;
    margin-left: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
}

#flourish-and-blocks-area {
    position: relative;
}

#blocks-area {
    width: calc(100% - 45px);
    float: left;
    margin-left: 45px;
}

.thirds-block {
    width: 33%;
    float: left;
    height: 400px;
}

.thirds-block-content {
    padding: 0 15px;
    height: 100%;
}

.content-block {
    background-color: #DAD4BB;
    height: 100%;
    width: 100%;
}

.content-block-shadow {
    box-shadow: 4px 4px #9A9784;
}