#page-area {
    margin: 0 auto;
    width: 1200px;
    transition: opacity 0.15s;
}

.thirds-block {
    width: 33%;
    float: left;
    height: 400px;
}

.thirds-block-content {
    padding: 25px;
}

#page-header {
    color: #4E4B42;
    text-shadow: 8px 8px #A3A092;
    letter-spacing: 3px;
    margin: 15px 0 40px 30px;
    transition: opacity 0.15s;
    font-size: 2.5rem;

}