.content-block-header {
    background-color: #4E4B42;
    color: #CDC8B0;
    width: 100%;
}

.content-block-text {
    padding: 11px 13px;
}

.content-block-image-block {
    padding: 11px 13px 0 13px;
}

.content-block-image {
    width: 100%;
    box-shadow: 4px 4px #9A9784;
}

.content-block-image-divider {
    width: 96%;
    border: none;
    border-top: 2px solid #B0AB96;
    margin: 13px 3px 0 3px;
}
